QLineEdit {
    border: none;
}

/* TableView风格，配合qt-material特性 */
QTableView {
    selection-background-color: #55ADD9;
    selection-color: #FFFFFF;
    gridline-color: #E0E0E0;
    border: none;
}

QHeaderView::section {
    font-size: 10pt bold;
    background-color: #607D8B;
    padding: 4px;
    border: 1px solid #BDBDBD;
    color: #FFFFFF;
}

